<ion-header>
  <ion-toolbar>
    <ion-title>articleCreate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="article.title" name="title" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Slug</ion-label>
    <ion-input [(ngModel)]="article.slug" name="slug" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="article.description" name="description" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Keywords</ion-label>
    <ion-input [(ngModel)]="article.keywords" name="keywords" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Body</ion-label>
    <ion-input [(ngModel)]="article.body" name="body" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Published</ion-label>
    <ion-input [(ngModel)]="article.published" name="published" type="text"></ion-input>
  </ion-item>

  <ion-button color="primary" expand="full" (click)="onSubmit()">Submit</ion-button>
</ion-content>